pandas
scikit-learn==1.4.1.post1
joblib
dotenv
boto3
catboost
sqlalchemy
psycopg2-binary
pytest
pyyaml
logging.config
prometheus_client
fastapi
uvicorn[standard]
pydantic
numpy
prometheus_fastapi_instrumentator
requests
mlflow
